.block-number {
	display: inline-block;
	font-family: 'roboto', sans-serif;
	font-weight: 200;
	float: left;
	font-size: 48px;
	line-height: 60px;
	margin-right: 5%;
	width: 15%;
}
.block-description {
	display: inline-block;
	margin-right: 5%;
	width: 65%;
}
.block-description-title {
	font-size: 26px;
	font-weight: 100;

}
.background-image {
	background: 
		linear-gradient(
			rgba(0,0,0, 0.65),
			rgba(0,0,0, 0.65)
		),
	url('images/slider/swiper/office.jpg');
    }
